---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 1
---

<h1>last 3 posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>more posts can be found <a href="{{ '/posts/' | url }}">here</a>.</p>
